.AboutH1 {
    padding: 7rem 0;
    color: #424242;
    border-bottom: 0.01px solid #eee;
}

.AboutHeroRowContainer {
    border-bottom: 0.01px solid #eee;
}

.AboutH1Team {
    padding: 7rem 0;
    color: #424242;
}

.AboutHeroRow {
    padding: 5rem 10rem;
    color: #424242;
}

.AboutImg {
    width: 75%;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
}

.Name {
    margin: 1.5rem 5.5rem ;
    color: black;
}

.FName {
    margin: 0 6rem ;
}